<div class="social-icons">
    <a href="https://api.whatsapp.com/send?phone=2615322003" target="_blank" rel="noopener noreferrer"
      ><img src="wp.svg" alt="Whatsapp" /></a
    >
    <a href="https://facebook.com/dosgecontenidos" target="_blank" rel="noopener noreferrer"
      ><img src="fb.svg" alt="Facebook" /></a
    >
    <a href="https://instagram.com/dosgecontenidos" target="_blank" rel="noopener noreferrer"
      ><img src="ig.svg" alt="Instagram" /></a
    >
  </div>
  <style>
      .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
  }
  </style>